<div class="footer">
    <div>
        <h4>éleveur</h4>
        <p>
            La première plateforme
            dédiée à l'adoption éthique et transparente
            d'animaux de race. L'excellence au service du vivant.
        </p>
    </div>

    <div>
        <h4>Section</h4>
        <ul>
            <li><a href="#">Chiens LOF</a></li>
            <li><a href="#">Chats LOOF</a></li>
            <li><a href="#">Éleveurs de chiens</a></li>
            <li><a href="#">Éleveurs de chats</a></li>
        </ul>
    </div>

    <div>
        <h4>Informations</h4>
        <ul>
            <li><a href="{{path('app_contact')}}">Contact</a></li>
            <li><a href="{{path('app_legal_notice')}}">Mentions Légales</a></li>
            <li><a href="{{path('app_terms_of_sale')}}">CGU</a></li>
        </ul>
    </div>
</div>
