<form method="post" action="{{ path('app_profile_breeder_delete', {'id': breeder.id}) }}" onsubmit="return confirm('⚠️ Êtes-vous sûr(e) de vouloir supprimer la race que vous élevée ? Toutes les données que vous avez renseignées seront définitivement supprimées de la plateforme et ne pourront plus être récupérées.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ breeder.id) }}">
    <button  class="buttonRemove">{{ ux_icon('material-symbols:delete-outline-rounded', {width:'20px', height:'20px'}) }}</button>
</form>
