<form method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}" onsubmit="return confirm('⚠️ Êtes-vous sûr(e) de vouloir supprimer votre profil ? Toutes les données que vous avez renseignées seront définitivement supprimées de la plateforme et ne pourront plus être récupérées. Si vous souhaitez utiliser à nouveau nos services, vous devrez créer un nouveau compte.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="buttonRemove">Supprimer mon compte</button>
</form>