<form method="post" action="{{ path('app_profile_business_page_delete', {'id': businessPage.id}) }}" onsubmit="return confirm('⚠️ Êtes-vous sûr(e) de vouloir supprimer votre votre activité d\'éleveur ? Toutes les données que vous avez renseignées seront définitivement supprimées de la plateforme et ne pourront plus être récupérées.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ businessPage.id) }}">
    <button class="buttonRemove">supprimer mon activité d'{{businessPage.activity}}</button>
</form>