form {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : stretch;
    align-content  : stretch;
    padding        : 0;
    margin         : 0 auto;
    gap            : 0.5rem;
}

.formColumn {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: stretch;
    align-items    : stretch;
    align-content  : stretch;
    flex-wrap      : nowrap;
    padding        : 0;
    margin         : 0 auto;
}

.formColumn ul {
    display         : block;
    background-color: #e5f4fc;
    border          : 1px solid #d2e4ec;
    color           : #117ba4;
    border-radius   : 5px;
    width           : 100%;
    padding         : 1rem;
    margin          : 1rem auto;

    li {
        list-style: none;
    }
}

input,
select {
    border          : none;
    border-bottom   : 2px solid var(--bluePastel);
    width           : 100%;
    height          : auto;
    padding         : 0.5rem 0;
    margin          : 0.3rem auto;
    background-color: var(--white);
    font-size       : 1.2rem;
    font-weight     : 300;
    font-family     : inherit;
}

label {
    width     : 100%;
    height    : auto;
    padding   : 0;
    margin    : 0.3rem auto;
    text-align: left;
}

.checkbox {
    display        : flex;
    flex-direction : row-reverse;
    justify-content: center;
    align-items    : center;
    align-content  : start;
    gap            : 1rem;
    padding        : 0.5rem 0;
    margin         : 0;

    label {
        text-transform: none;
    }
}

input[type="checkbox"] {
    width        : 18px;
    height       : 18px;
    margin       : 0;
    padding      : 0;
    cursor       : pointer;
    border-radius: 3px;
}

.collection .addActivity {
    cursor        : pointer;
    padding       : 0.4rem 0.8rem;
    width         : 100%;
    text-transform: uppercase;
    margin        : 0.5rem auto;
    text-align    : center;
    display       : block;
}

.choiceType {
    >div {
        display        : flex;
        flex-direction : row-reverse;
        justify-content: start;
        align-items    : center;
        align-content  : start;
        gap            : 1rem;
        padding        : 0.5rem 0;
        margin         : 0;

        label {
            text-transform: none;
            width         : auto;
            margin        : 0;
        }

        input[type="radio"] {
            width  : auto;
            height : auto;
            margin : 0;
            padding: 0;
            cursor : pointer;
        }
    }
}

.formDuoRowImput {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : stretch;
    gap            : 1rem;
    margin         : 0 auto;
    width          : 100%;

    >div {
        margin: 0 auto;
        width : 50%;
    }
}

.formPlaceholder {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 250px;
    border         : 2px dashed #cbd5e1;
    border-radius  : 3rem;
    color          : var(--blueJeans);
    background     : rgba(255, 255, 255, 0.5);
    width          : 50%;
    margin         : 0 auto;
}


.choiceSelectDesignButton {
    border          : 1px solid var(--grey);
    background-color: var(--white);
    border-radius   : 1rem;
    border          : 2px solid var(--bluePastel);
    box-shadow      : var(--shadow-black);
    color           : var(--ardoise);
    text-align      : center;
    gap             : 1rem;
    padding         : 1rem;
    margin          : 0 auto;
    height          : 130px;
    transition      : background-color 1.5s ease, transform 1.5s ease;
}

.choiceSelectDesignButton:hover {
    background-color: var(--bluePastel);
    transform       : scale(1.01);
}

.collectionLive {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    align-content  : stretch;
    gap            : 2rem;
    margin         : 0 auto;
    width          : 100%;
    padding        : 2rem 0;

    >div {
        margin         : 0 auto;
        width          : 35%;
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;
        justify-content: start;
        align-items    : center;
        align-content  : stretch;
        gap            : 1rem;
        margin         : 0 auto;
    }
}

textarea {
    resize       : vertical;
    width        : 100%;
    margin       : 0 auto;
    height       : 200px;
    padding      : 0.5rem;
    border-radius: 3px;
    border       : 2px dashed var(--bluePastel);
    font-size    : inherit;
    font-family  : inherit;
}