button,
a.button {
    cursor          : pointer;
    font-size       : 16px;
    font-family     : inherit;
    border          : none;
    border-radius   : 3px;
    padding         : 0.5rem 0.8rem;
    width           : 100%;
    text-transform  : uppercase;
    margin          : 0 auto;
    text-align      : center;
    white-space     : nowrap;
    display         : inline-flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
    align-content   : center;
    gap             : 1rem;
    box-shadow      : var(--shadow-black);
    transition      : background-color 1.5s ease, transform 1.5s ease;
    border-radius   : 3px;
    background-color: var(--white);
    color           : var(--black);
    border          : 2px solid var(--bluePastel);
}

.buttonRemove,
.buttonDelete {
    width           : auto;
    height          : auto;
    background-color: transparent;
    border          : none;
    margin          : 0 auto;
    padding         : 0.5rem;
    color           : rgb(226, 142, 142);
    box-shadow      : none;
    cursor          : pointer;
    text-transform  : none;
    font-size       : 1.2rem;
}

.buttonRemove:hover,
.buttonDelete:hover {
    background-color: transparent;
    border          : none;
    transform       : scale(1.01);
    color           : rgb(206, 60, 60);
    ;
}

button.buttonAddCollection {
    width           : auto;
    height          : auto;
    background-color: transparent;
    border          : none;
    margin          : 2rem 0 4rem 0;
    padding         : 0.5rem;
    color           : var(--black);
    box-shadow      : none;
    cursor          : pointer;
    text-transform  : none;
    font-size       : 1.2rem;
}

button.buttonAddCollection:hover {
    background-color: transparent;
    border          : none;
    color           : var(--black);
}

button:hover,
a.button:hover {
    background-color: var(--blueCiel);
    color           : var(--white);
    transform       : scale(1.01);
}

button.buttonWidthAuto {
    width           : auto;
    display         : inline-flex;
    flex-direction  : row;
    justify-content : end;
    align-items     : center;
    align-content   : end;
    margin: 0;
    padding: 0.5rem;
    background-color: #2D2D2D;
    color: #ffffff;
    border: none;
}