.success,
.info,
.warning,
.error {
  border-radius: 5px;
  width        : 95%;
  padding      : 1rem;
  margin       : 2rem auto;

  ul li {
    list-style: none;
  }
}

.success {
  background-color: #e5faee;
  border          : 1px solid #d9ece2;
  color           : #075f30;
}

.info {
  background-color: #e5f4fc;
  border          : 1px solid #d2e4ec;
  color           : #117ba4;
}

.warning {
  background-color: #fdf5e4;
  border          : 1px solid #f3ebdb;
  color           : #8c6001;
}

.error {
  background-color: #ffefef;
  border          : 1px solid #f3dbdb;
  color           : #8c0101;
}

@media screen and (max-width:800px) {

  .success,
  .info,
  .warning,
  .error {
    width        : 100%;
    border-radius: 0px;
  }
}