<div class="cardBreeder">
	<div>
		<div class="cardBreederTitle">
			<div>{% include 'svg/dog.svg' %}</div>
			<h3>DES JARDINS PERSANS</h3>
		</div>
		<!-- contenu de la carte -->
	</div>

	<div>
		<div class="cardBreederTitle">
			<div>{% include 'svg/cat.svg' %}</div>
			<h3>DES ROSES DE PERSE</h3>
		</div>
		<!-- contenu de la carte -->
	</div>
</div>
