<div class="selectPet">

    <h2>Trouvez votre compagnon idéal</h2>
    <br>
    <nav>
        <ul>
            <li>Toute les annonces</li>
            <li>chiens</li>
            <li>chats</li>
        </ul>
    </nav>
</div>


<div class="sectionCard">

    <div class="box boxFemale">
        <div class="box-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path>
            </svg>
        </div>
        <div class="box-label">LOF</div>
        <div class="box-title">Chihuahua</div>
        <div class="box-image">
            <img src="{{asset('pictures/dog/chihuahua/2.jpg')}}" alt="">
        </div>
        <div class="studio-button">
            <div class="studio-button-icon female">
                {{ ux_icon('mage:female', {width:"18px", height:"18px"}) }}
            </div>
            <div class="studio-button-label">
                Open in Studio
            </div>
        </div>
    </div>

    <div class="box boxMale">
        <div class="box-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path>
            </svg>
        </div>
        <div class="box-label">LOOF</div>
        <div class="box-title">Persans</div>
        <div class="box-image">
            <img src="{{asset('pictures/cat/bengal/1.jpg')}}" alt="">
        </div>
        <div class="studio-button">
            <div class="studio-button-icon male">
                {{ ux_icon('mage:male', {width:"18px", height:"18px"}) }}
            </div>
            <div class="studio-button-label">
                Open in Studio
            </div>
        </div>
    </div>
</div>
