.sectionBreeder {
  padding: 5rem 1rem;
  margin : 0 auto;
}

.cardBreeder {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  gap                  : 1rem;
  padding              : 5rem 1rem;
  width                : 100%;
  margin               : 0 auto;
  align-items          : start;
  justify-items        : stretch;

}

.cardBreeder>div {
  border          : 1px solid var(--sterling);
  border-radius   : 20px;
  padding         : 1rem;
  box-shadow      : var(--shadow);
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  align-items     : stretch;
  gap             : 0.5rem;
  background-color: var(--white);
  background      : var(--linear-white);
}

.cardBreederTitle {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
  gap            : 1rem;
  padding        : 0;
  /* padding géré par la carte parente */
  text-transform : uppercase;
  width          : 100%;
}

.cardBreederTitle>div {
  width          : 40px;
  height         : 40px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.cardBreederTitle h3 {
  margin     : 0;
  font-size  : 1rem;
  line-height: 1;
}

@media (max-width: 480px) {
  .cardBreeder {
    grid-template-columns: 1fr;
  }
}