<p><strong>Nouvelle demande de contact à été reçue</strong></p>
<p>
    <ul>
        <li>Nom : {{data.name}}</li>
        <li>E-amil : {{data.email}}</li>
        <li>AgreeTerms : {{data.agreeTerms}}</li>
    </ul>
</p>
<p>
    <strong>Message : </strong>
    <br>
    {{data.content}}
</p>
